body {
    width: 100%;
    background: #EBEBFF;
}
header{
    background: #171E21 ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    height: 14%;
}
ul {
    list-style: none;
    text-align: right;
    padding: 10px;
}
ul li {
    height: 8em;
    display: inline;
    padding: 15px;
    
}
ul li a {
    text-decoration: none;
    font-size: 25px;
    
}
#color {
    width:50%;
    font-size: 100px;
    background: white;
}